/* src/App.css */

/* Estilo general */
body {
  font-family: 'Lato', sans-serif;
  background-color: #185227;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* src/App.css */
.App {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
}

.nav-link { 
  
  color: #235523 !important;
  text-decoration: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: #00b33c !important
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: #555;
}
/* Estilo de los títulos */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo de los formularios */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}
/* Header.css */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.logo {
  max-width: 200px;
  height: auto;
}

/* src/App.css */

.btn-primary:disabled {
  background-color: #6b6969;
  cursor: not-allowed;
}
/* Estilo del resultado de la búsqueda de facturas */
.resultado-factura {
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #e9ecef;
  color: #333;
  font-size: 14px;
}

/* Estilo del input de búsqueda */
.factura-search input {
  width: 100%;
  margin-bottom: 10px;
}

/* Estilo del resultado de los envíos de WhatsApp */
.resultado-envio {
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #e9ecef;
  color: #333;
  font-size: 14px;
}

/* Estilo del mensaje de error */
.resultado-factura p {
  color: red;
  font-weight: bold;
}
/* Estilo para el CSV Uploader */
.csv-uploader {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.csv-uploader input {
  margin-bottom: 10px;
}

.csv-uploader button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.csv-uploader button:hover {
  background-color: #0056b3;
}

.csv-uploader p {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}